.total{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(64,5,67,0.2) 36%, rgba(54,4,62,0.3) 60%, rgba(2,0,36,1) 100%); 
}
.form{
    padding: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: solid 1px var(--borde);
    background-color: var(--card);   
    border-radius: 1rem;

}
.form h2{
    width: 100%;
    text-align: center;
    padding: 0;
    padding-bottom: 1rem;
}
.form input{
    background-color: var(--fondo);
    color: var(--letra);
    font-size: 22px;
    border: none;
}
.form textarea{
    background-color: var(--fondo);
    color: var(--letra);
    font-size: 22px;
    border: none;
}
.form input:nth-last-of-type(1){
    padding: 1rem;
    font-size: 20px;
    background-color: transparent;
    color: var(--letra);
    border: solid 1px rgba(255,255,255,0.1);
    box-shadow: 
    rgba(120,0,120,0.1) 0px 0px 10px;
    border-radius: .5rem;
}

@media (max-width: 700px) {
    .total{
        height: auto;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .form{
        width: 95%;
    }
  }