.total{
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.card1{
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card1 h1{
    letter-spacing: -2px;
    font-weight: 900;
    font-size: 100px;
    color: transparent;
    text-shadow: 
    2px 2px white,
    -2px -2px white,
    2px -2px white,
    -2px 2px white,
    #ffc0dc 0px 0px 4px,
    #ff5aa4 0px 0px 10px,    
    #ff1b82 0px 0px 20px,
    #ff1b82 0px 0px 20px,
    #ff1b82 0px 0px 900px,
    #ff1b82 0px 0px 1350px,
    #ff1b82 0px 0px 1800px;
}
.card1 h2{
    margin-top: -7px;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: -1px;
    border: none;
    text-align: center;
}
@media (max-width: 700px) {

    .card1 h1{
        font-size: 80px;
    }
  }